.page { 
    display: none; 
}
.page.active { 
    display: block; 
}
body.not-authenticated .role-logged-in { 
    display: none; 
}
body.authenticated .role-logged-out { 
    display: none; 
}
.role-admin { 
    display: none; 
}
body.is-admin .role-admin { 
    display: block; 
}

/* Home */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-notlogin{
    height: 80px;
    width: 100%;
    background:gray;
    display: none;
    justify-content: space-between;
    align-items: center;  
} 

.nav-notlogin h1{
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bolder;
    padding-left: 50px;
} 
.nav-admin{
    height: 80px;
    width: 100%;
    background:gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-admin h1{
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bolder;
    padding-left: 50px;
}
.links{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    gap: 10px;
}
.links a{
    color: black;
    text-decoration: none;
    font-family: Tahoma;
}
.note{
    height: 50px;
    width: 40%;
    background: aqua;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;


}
.button{
    background:  aquamarine;
    font-family: Tahoma;
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
}
.pink{
    color: pink;
}

/* Register */


.register{
    padding: 70px;
}
form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputed{
    display: flex;
    flex-direction: column;
}
form input{
    height: 40px;
    border-radius: 10px;
    padding: 4px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}


/* Verification */
.verifyemail{
    padding: 20px;
    padding-top: 60px;
}

.vet-text{
    padding: 20px;
    background-color: #d2e7dd;
    width: 30%;
    font-weight: 600;
    font-size: 16px;
}

/* Login  */
.loginpage{
    padding: 20px;
    display: none;
}


/* Profile page */
.profile-page{
    padding: 10px;
}
.insideprofile{
    height: 200px;
    width: 500px;
    background-color:whitesmoke;
    padding: 10px;
    box-shadow: 0 0 3px black;
}

/* Employee */
.awol{
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.add-edit{
    padding: 10px;
    border: 2px solid;
    width: 450px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Department */
.Department{
    width: 100%;
}
.dept-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Account */

.Acct-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}