/* Home */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    height: 80px;
    width: 100%;
    background:gray;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.links{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    gap: 10px;
}
.links a{
    color: black;
    text-decoration: none;
    font-family: Tahoma;
}
.nav h1{
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bolder;
    padding-left: 50px;
}

.note{
    height: 50px;
    width: 40%;
    background: aqua;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;


}
.button{
    background:  aquamarine;
    font-family: Tahoma;
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
}
.pink{
    color: pink;
}


.home{
    display: none;
}





/* Register */


.register{
    display: none;
}

.register{
    padding: 10px;
}
form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.inputed{
    display: flex;
    flex-direction: column;
}
form input{
    height: 40px;
    border-radius: 10px;
    padding: 4px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* Verification */
.verifyemail{
    padding: 20px;
}

.vet-text{
    padding: 20px;
    background-color: #d2e7dd;
    width: 30%;
}



.verifyemail{
    display: none;
}


/* Login  */
.loginpage{
    padding: 20px;
}


